@import './partials/_Alerts.css';
@import './partials/_Buttons.css';
@import './partials/_Flex.css';
@import './partials/_Forms.css';
@import './partials/_Spacing.css';
@import './partials/_Sizing.css';
@import './partials/_Variables.css';

/* Text */
.text-center {
  text-align: center;
}

/* links */
.active {
  font-weight: bold;
}

/* nav & menus */
nav {
  height: var(--header-height);
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  background-color: var(--primary-color);
}

nav a {
  color: #fff;
}

.logo {
  text-align: left;
  font-size: xx-large;
}

button.menu-icon {
  background: none;
  cursor: pointer;
  border: none;
  color: inherit;
  font-size: inherit;
}

.menu {
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: calc(var(--header-height) - 3rem);
  padding: 1rem 2rem 1rem 2rem;
  z-index: 1;
}

@media(min-width: 40.0rem) {
  .menu {
    width: initial;
    flex-wrap: initial;
    flex-shrink: initial;
    position: initial;
  }
}