/* gaps */
.gap-3 {
  gap: 3rem;
}

/* margins */
.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-05 {
  margin-top: .5rem;
}

.mt-1 {
  margin-top: 1rem;
  ;
}

.mx-auto {
  margin: inherit auto;
}

.my-1 {
  margin: 1rem inherit;
}

/* paddings */
.pt-4 {
  padding-top: 4rem;
}